.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: antiquewhite;
  text-shadow: 1px 2px 1px #0c1033;
}
.App h1,
h2,
h3 {
  text-align: center;
  font-family: 'Courgette', cursive;
}
.App a {
  color: antiquewhite;
  text-decoration: underline wavy #00cdff 1px;
}
.App a:hover {
  color: #00cdff;
  text-shadow: 0.3px 0.5px 0.3px antiquewhite;
}
.App a:visited {
  color: #00cdff;
}
